extends layout
block header
  //link(rel='stylesheet', href='/stylesheets/toastr.min.css')
  script(src='https://code.jquery.com/jquery-2.1.1.min.js')
  script(src='https://cdn.socket.io/socket.io-1.2.0.js')
  meta(name="viewport" content="width=device-width")
  //script(src='/scripts/toastr.min.js')
block content
  div#header
    div.title
      h1 #{title}
    div.logo
      img.logo(src='/images/Battleship.png')
  div.game#game
block footer
  script(src="/scripts/bundle.js")