extends layout
block header
  link(rel='stylesheet', href='/stylesheets/toastr.min.css')
  script(src='https://code.jquery.com/jquery-2.1.1.min.js')
  script(src='https://cdn.socket.io/socket.io-1.2.0.js')
  script(src='/scripts/toastr.min.js')
block content
  h1= title
  p Welcome to #{title}
  input(type='text', name='roomid', id='roomid-field', placeholder='room ID')
  button(type='button', id='join-button') join
  div.gameboard#gameboard
block footer
  script(src="/scripts/bundle.js")