extends layout
block header
  link(rel='stylesheet', href='/stylesheets/toastr.min.css')
  script(src='https://code.jquery.com/jquery-2.1.1.min.js')
  script(src='https://cdn.socket.io/socket.io-1.2.0.js')
  script(src='/scripts/toastr.min.js')
block content
  h1= title
  p Welcome to #{title}
  .username
    input(type='text', name='username', id='username', placeholder='username')
    button(type='button', id='set-username-button') set username
  h2 lobby
    ul#lobby
  .room-area
    input(type='text', name='room-id', id='room-id', placeholder='room ID')
    button(type='button', id='join-button') join
  .ship-area
    p
      button(type='button', id='place-ships-button') place ships
    p
      button(type='button', id='shoot-button') shoot
  div.gameboard#gameboard
block footer
  script(src="/scripts/bundle.js")