extends layout
block header
    script(src='https://code.jquery.com/jquery-2.1.1.min.js')
    script(src='https://cdn.socket.io/socket.io-1.1.0.js')
    script(src='/scripts/io-test.js')
block content
    h1 Socket.io test
    input#sessionID(type='number', name='sessionID')
    input#message(type='text', name='message')
    ul#messages
