doctype html
html(itemscope itemtype="http://schema.org/Product")
    head
        title= title
        meta(name="keywords" content="battleship,online,html5,browser,board,game,javascript,reactJS,css,web,sockets")
        meta(name="author" content="Janusz Kacalak")
        meta(name="description" content="Play the classic Battleship board game online in your browser!")
        meta(property="og:title" content="Battleships - online game")
        meta(property="og:site_name" content="Battleships")
        meta(property="fb:app_id" content="633605170101399")
        meta(property="og:image" content="http://battleships.mobi/images/logo.png")
        meta(property="og:image:type" content="image/png")
        meta(property="og:image:width" content="1024")
        meta(property="og:image:height" content="1024")
        meta(property="og:url" content="http://battleships.mobi")
        meta(property="og:description" content="Play the classic Battleship board game online in your browser!")

        meta(itemprop="name" content="Battleships - online game")
        meta(itemprop="description" content="Play the classic board game Battleship online in your browser!")
        meta(itemprop="image" content="http://battleships.mobi/images/logo.png")

        meta(name="twitter:card" content="summary")
        meta(name="twitter:url" content="http://battleships.mobi")
        meta(name="twitter:title" content="Battleships - online game")
        meta(name="twitter:description" content="Play the classic board game Battleship online in your browser!")
        meta(name="twitter:image" content="http://battleships.mobi/images/logo.png")

        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/socket.io/socket.io.js')
        meta(name="viewport" content="initial-scale=1, maximum-scale=1")

        link(rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png")
        link(rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png")
        link(rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png")
        link(rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png")
        link(rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32")
        link(rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96")
        link(rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16")
        link(rel="manifest" href="/manifest.json")
        link(name="msapplication-TileColor" content="#da532c")
        link(name="theme-color" content="#ffffff")
    body
        block content
        block footer
