body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.boerd-casino {
  .gameboard {
    display: inline-block;
    padding-right: 3em;
    .gameboard-table {
      width: 600px;
      height: 600px;
      rect.cell {
        fill:blue;
        stroke:black;
        stroke-width:2;
        opacity:0.5;

        &.ship {
          fill: red;
        }

        &.selected {
          stroke: red;
          fill: red;
          opacity: 0.1;
        }
      }
    }
  }
}