@import "../../node_modules/bootstrap/less/bootstrap";

html, body
{
  height: 100%;
}

body {
  padding: 1em;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.main {
  .game {

    #shooting-panel {
      position: relative;
    }

    .pb-hidden {
      @media screen and (max-width: @screen-xs-max) {
        display: none;
      }
    }
    #switch-board {
      @media screen and (min-width: @screen-sm-min) {
        display: none;
      }
    }

    .overlay{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
      background-color: rgba(0,0,0,0.5); /*dim the background*/

      display: flex;
      align-items: center;
      justify-content: center;

      .turn-overlay-text {
        font-size: 2em;
        color: orangered;
        opacity: 0.5;
      }
    }
  }

  .ships-panel {
    float: right;
  }

  rect.cell {
    fill: blue;
    stroke: black;
    stroke-width: 0.5;
    opacity: 0.5;
  }

  g.coord {
    rect {
      fill: orange;
      stroke: black;
      stroke-width: 0.5;
      opacity: 0.5;
    }

    text {
      font-size: 6pt;
    }
  }



  g.ship {
    fill: orange;
    stroke: black;
    stroke-width: 0.5;
    opacity: 0.5;

    &.selected {
      stroke: black;
      fill: red;
      opacity: 0.2;
    }
  }

  g.config {
    fill: pink;
    stroke: black;
    stroke-width: 0.2;
    font-size: 7px;

    text {
      fill: black;
    }

    &.selected {
      fill: orange;
    }
    &.inactive {
      fill: #F8F8FF;
    }
  }

  div.ship-popup {
    border-radius: 20px;
    border: 2px solid lightskyblue;
    background: white;

    position: absolute;
    top: 1%;
    left: 1%;
    width: 200px;
    height: 80px;
    padding: 16px;
    z-index:1002;
  }

  @keyframes blink {
    0% { stroke: red; }
    100% { stroke: white; }
  }
  @-webkit-keyframes blink {
    0% { stroke: red; }
    100% { stroke: white; }
  }
  .blink {
    -webkit-animation: blink 0.5s linear infinite;
    -moz-animation: blink 0.5s linear infinite;
    -ms-animation: blink 0.5s linear infinite;
    -o-animation: blink 0.5s linear infinite;
    animation: blink 0.5s linear infinite;
  }
}
